<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#splash"><%= image_tag("die_hard_logo.jpg", height: "100%") %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Movies <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Die Hard</a></li>
            <li><a href="#">Die Hard 2</a></li>
            <li><a href="#">Die Hard with a Vengeance</a></li>
            <li><a href="#">Live Free or Die Hard</a></li>
            <li><a href="#">A Good Day to Die Hard</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Heroes <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">John McClane</a></li>
            <li><a href="#">Al Powell</a></li>
            <li><a href="#">Zeus Carver</a></li>
            <li><a href="#">Warlock</a></li>
            <li><a href="#">Matt Farrell</a></li>
            <li><a href="#">John McClane Jr.</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Villains <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Hans Gruber</a></li>
            <li><a href="#">Simon Gruber</a></li>
            <li><a href="#">Colonel Stuart</a></li>
            <li><a href="#">Thomas Gabriel</a></li>
            <li><a href="#">Yuri Komarov</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">About</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>