<nav id="myScrollspy" class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a id="brand_link" class="navbar-brand" href="#splash">
        <%= image_tag("die_hard_logo.png", height: "100%") %>
      </a>
      <%= audio_tag("yippee.mp3", id: "yippee_sound") %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Movies <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#movie_0">Die Hard</a></li>
            <li><a href="#movie_1">Die Hard 2</a></li>
            <li><a href="#movie_2">Die Hard with a Vengeance</a></li>
            <li><a href="#movie_3">Live Free or Die Hard</a></li>
            <li><a href="#movie_4">A Good Day to Die Hard</a></li>
            <li><a href="#movie_5">Die Hardest</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Heroes <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#heroes_john_mcclane">John McClane</a></li>
            <li><a href="#heroes_al_powell">Al Powell</a></li>
            <li><a href="#heroes_zeus_carver">Zeus Carver</a></li>
            <li><a href="#heroes_matt_farrell">Matt Farrell</a></li>
            <li><a href="#heroes_jack_mcclane">Jack McClane</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Villains <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#villains_hans_gruber">Hans Gruber</a></li>
            <li><a href="#villains_colonel_stuart">Colonel Stuart</a></li>
            <li><a href="#villains_simon_gruber">Simon Gruber</a></li>
            <li><a href="#villains_thomas_gabriel">Thomas Gabriel</a></li>
            <li><a href="#villains_mai_linh">Mai Linh</a></li>
            <li><a href="#villains_yuri_komarov">Yuri Komarov</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#about">About</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>