<%= render 'nav' %>
<section id="splash">
	<%= image_tag("die_hard_logo_big.jpg", width: "100%") %>
</section>

<section id="about">
	<h1>ABOUT</h1>
	<p>This is the Die Hard movie series page! Keep reading if you want to learn more about the adventures of John McClane.</p>
	<p>Enjoy! And whenever you're unsure of what to do, just ask yourself: WWJMD (What Would John McClane Do) ?</p>
</section>