<!DOCTYPE html>
<html>
<head>
  <title>Diehard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true, :defer => "defer" %>
  <%= csrf_meta_tags %>
</head>
<body class="scrollspy" data-spy="scroll" data-target=".navbar" data-offset="40">

<%= yield %>

</body>
</html>
